/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
:root {
  font-size: 16px;
  color: #181818;
}

body {
  margin: 0;
}

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

/* *:focus {
  border: 0;
} */

/* *:focus-visible {
  border: 1px solid #24388d;
} * */

.sr-only {
  position: absolute;
  inline-size: 1px; /* width */
  block-size: 1px; /* height */
  margin: -1px;
  overflow: hidden;
}

h1 {
  margin: 0;
  margin-top: 5rem;
}

.logo {
  display: block;
  width: 230px;
  inline-size: 230px;
  margin: 0 auto;
}

.login-form {
  width: 100%;
  inline-size: 100%;
  padding: 0 1.25rem;
  margin-top: 3.75rem;
  fieldset {
    border: 0;
  }

  fieldset {
    padding: 0;
    margin: 0;
  }

  .form-input {
    input {
      width: 100%;
      height: 2.8125rem;
      background-color: #fff;
      border: 1px solid #dadada;
      font-size: 0.875rem;
      padding: 0 1.25rem;
    }
  }

  .form-input:first-of-type {
    margin-bottom: 0.5rem;
  }

  .login-button {
    width: 100%;
    height: 2.8125rem;
    margin-top: 1.25rem;
    color: #fff;
    background-color: #03cf5d;
    border: 0;
    font-size: 1rem;
    padding: 0 1.25rem;
  }

  .additional-function {
    margin-top: 0.625rem;

    .maintain-login-status {
      float: right;

      input {
        position: absolute;
        appearance: none;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0;
      }
    }

    label {
      height: 24px;
      display: flex;
      align-items: center;
      background: url(/naver/icons/unchecked.svg) no-repeat 0 0 / contain;
      padding-left: 1.8125rem;
    }

    input:checked + label {
      background-image: url(/naver/icons/checked.svg);
    }

    .ip-security {
      display: none;
    }
  }
}

.form-input:focus {
  border: 1px solid #03cf5d;
  background-color: #e9f0fd;
}

.form-input:focus-visible {
  border: 1px solid #03cf5d;
  background-color: #e9f0fd;
}

@media screen and (min-width: 768px) {
  .naver-form {
    width: 500px;
    margin: 0 auto;

    .additional-function {
      .maintain-login-status {
        float: left;
      }

      .ip-security {
        float: right;
        display: block;
      }

      .ip-security:link {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
      }

      .ip-security:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
      }
    }
  }
}
